#board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  background-color: #1f6e30;
  margin: 1rem;
  padding: 2px;
  width: fit-content;
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3dc45a;
  margin: 2px;
}

.ref {
  font-size: .7rem;
  font-weight: 600;
  color: #1f6e30;
  position: absolute;
}

.ref-x {
  top: 40px;
  left: 47px;
}

.ref-y {
  left: 2px;
  top: 0px;
}

.disk-dark {
  fill: var(--dark-disk-fill);
  stroke: var(--dark-disk-stroke);
}

.disk-light {
  fill: var(--light-disk-fill);
  stroke: var(--light-disk-stroke);
}

.flip-dark,
.flip-light {
  animation-timing-function: ease-out;
  animation-duration: 200ms
}

.flip-dark {
  animation-name: flip-to-dark;
}

.flip-light {
  animation-name: flip-to-light;
}

@keyframes flip-to-dark {
  from {
    transform: scale(1, 1);
  }

  49% {
    fill: var(--light-disk-fill);
    stroke: var(--light-disk-stroke);
  }

  50% {
    transform: scale(0.25, 1.1);
    fill: var(--dark-disk-fill);
    stroke: var(--dark-disk-stroke);
  }

  to {
    transform: scale(1, 1);
    fill: var(--dark-disk-fill);
    stroke: var(--dark-disk-stroke);
  }
}

@keyframes flip-to-light {
  from {
    transform: scale(1, 1);
  }

  49% {
    fill: var(--dark-disk-fill);
    stroke: var(--dark-disk-stroke);
  }

  50% {
    transform: scale(0.25, 1.1);
    fill: var(--light-disk-fill);
    stroke: var(--light-disk-stroke);
  }

  to {
    transform: scale(1, 1);
    fill: var(--light-disk-fill);
    stroke: var(--light-disk-stroke);
  }
}

@keyframes place {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

.move-dark {
  opacity: .3;
  fill: black;
  stroke: black;
}

.move-light {
  opacity: .3;
  fill: white;
  stroke: white;
}