:root {
  --grey-light: #2b2b2b;
  --grey-lighter: #383838;
  --grey-dark: #1f1f1f;
  --light-disk-fill: #ffffff;
  --light-disk-stroke: #dbdbdb;
  --dark-disk-fill: #292929;
  --dark-disk-stroke: #1a1a1a;
}

body {
  margin: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #dadada;
  background-color: #121212;
  font-family: 'Heebo', sans-serif;
}

button {
  margin: 1rem;
  padding: .75rem 1.25rem;
  border: none;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  color: inherit;
  background-color: var(--grey-dark);
  font: inherit;
  transform: scale(1);
  transition: 200ms;
}

button:hover {
  background-color: var(--grey-lighter);
}

button:active {
  transform: scale(0.95);
}

.container {
  margin: .75rem;
  padding: 1rem 2rem;
  background-color: var(--grey-dark);
  border-radius: 6px;
}

#game-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#history-container {
  padding: .25rem;
  max-height: 420px;
  overflow-y: auto;
}

#history {
  margin: 1rem;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: .25rem .75rem;
  font-weight: 400;
}

tr:nth-child(even) {
  background-color: var(--grey-light);
}

#scores {
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  width: 2em;
}

#dark-score {
  direction: rtl;
}

.icon {
  padding: 0 1rem;
}

.setting {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.setting label {
  margin-left: .5rem;
  margin-right: 2.5rem;
  text-align: left;
}

.options {
  display: flex;
  align-items: center;
}

.options input {
  display: none;
}

.option {
  margin: -.25rem;
  padding: .25rem .75rem;
  color: #727272;
  cursor: pointer;
}

.selected {
  color: inherit;
  background-color: var(--grey-light);
  border-radius: 100px;
  transition: 200ms;
}

#dark-difficulty,
#timer-enabled,
#timer-length {
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--grey-light);
}

::-webkit-scrollbar-thumb {
  background: #464646;
  border-radius: 100px;
}