:root {
  --grey-light: #313131;
  --grey-dark: #1b1b1b;
  --light-disk-fill: #ffffff;
  --light-disk-stroke: #dbdbdb;
  --dark-disk-fill: #292929;
  --dark-disk-stroke: #1a1a1a;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #dadada;
  background-color: #121212;
  font-family: 'Heebo', sans-serif;
  user-select: none;
}

#settings {
  margin: 2rem;
  padding: 1rem 2rem;
  width: 18rem;
  background-color: var(--grey-dark);
  border-radius: 10px;
}

.setting {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.setting label {
  margin-left: .5rem;
}

.switch input {
  display: none;
}

.switch-option {
  padding: .25rem 1rem;
  color: #727272;
}

.selected {
  color: inherit;
  background-color: var(--grey-light);
  border-radius: 20px;
  transition: 200ms;
}

.button {
  cursor: pointer;
  margin: 2rem;
  padding: .75rem 1.25rem;
  border-radius: 100px;
  background-color: var(--grey-light);
  transform: scale(1);
  transition: 200ms;
}

.button:hover {
  color: white;
  background-color: #349e4b;
}

.button:active {
  transform: scale(0.95);
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  background-color: #1f6e30;
  padding: 2px;
  width: fit-content;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3dc45a;
  margin: 2px;
}

.disk-dark {
  fill: var(--dark-disk-fill);
  stroke: var(--dark-disk-stroke);
}

.disk-light {
  fill: var(--light-disk-fill);
  stroke: var(--light-disk-stroke);
}

.flip-dark,
.flip-light {
  animation-timing-function: ease-out;
  animation-duration: 200ms
}

.flip-dark {
  animation-name: flip-to-dark;
}

.flip-light {
  animation-name: flip-to-light;
}

@keyframes flip-to-dark {
  from {
    transform: scale(1, 1);
  }

  49% {
    fill: var(--light-disk-fill);
    stroke: var(--light-disk-stroke);
  }

  50% {
    transform: scale(0.25, 1.1);
    fill: var(--dark-disk-fill);
    stroke: var(--dark-disk-stroke);
  }

  to {
    transform: scale(1, 1);
    fill: var(--dark-disk-fill);
    stroke: var(--dark-disk-stroke);
  }
}

@keyframes flip-to-light {
  from {
    transform: scale(1, 1);
  }

  49% {
    fill: var(--dark-disk-fill);
    stroke: var(--dark-disk-stroke);
  }

  50% {
    transform: scale(0.25, 1.1);
    fill: var(--light-disk-fill);
    stroke: var(--light-disk-stroke);
  }

  to {
    transform: scale(1, 1);
    fill: var(--light-disk-fill);
    stroke: var(--light-disk-stroke);
  }
}

@keyframes place {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

.move-dark {
  opacity: .3;
  fill: black;
  stroke: black;
}

.move-light {
  opacity: .3;
  fill: white;
  stroke: white;
}