body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #dadada;
  background-color: #121212;
  font-family: 'Heebo', sans-serif;
  user-select: none;
}

#settings {
  margin: 2rem;
  padding: 1rem 2rem;
  width: 18rem;
  background-color: var(--grey-dark);
  border-radius: 10px;
}

.setting {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.setting label {
  margin-left: .5rem;
}

.options input {
  display: none;
}

.option {
  padding: .25rem 1rem;
  color: #727272;
}

.selected {
  color: inherit;
  background-color: var(--grey-light);
  border-radius: 20px;
  transition: 200ms;
}

button {
  margin: 2rem;
  padding: .75rem 1.25rem;
  border: none;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: var(--grey-light);
  font: inherit;
  transform: scale(1);
  transition: 200ms;
}

button:hover {
  background-color: #349e4b;
}

button:active {
  transform: scale(0.95);
}

.game-container {
  display: flex;
}

.score-container {
  margin: 1rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.icon {
  padding: 0 1rem;
}

.score {
  width: 2em;
}

#dark-score {
  direction: rtl;
}